tips

Subtask1/ideas
Subtask1/Java/tips
Subtask1/Java/SIMD/tips
Subtask1/Java/SIMD/mpirun/hostfile_test
Subtask1/Java/SIMD/mpirun/appfile_test
Subtask1/Java/SIMD/mpirun/share_program_test.sh
Subtask1/Java/SIMD/mpirun/run_test.sh
Subtask1/Java/SIMD/mpirun/program-0.0.1.jar

Subtask1/Java/MIMD/tips
Subtask1/Java/MIMD/mpirun/hostfile_test
Subtask1/Java/MIMD/mpirun/appfile_test
Subtask1/Java/MIMD/mpirun/share_program_test.sh
Subtask1/Java/MIMD/mpirun/run_test.sh
Subtask1/Java/SIMD/mpirun/master-0.0.1.jar
Subtask1/Java/SIMD/mpirun/worker-0.0.1.jar

Subtask2/ideas
Subtask2/Java/tips
Subtask2/Java/SIMD/tips
Subtask2/Java/SIMD/mpirun/hostfile_test
Subtask2/Java/SIMD/mpirun/appfile_test
Subtask2/Java/SIMD/mpirun/share_program_test.sh
Subtask2/Java/SIMD/mpirun/run_test.sh
Subtask2/Java/SIMD/mpirun/program-0.0.1.jar

